<nav>
    <ul>
        {% for section in collections.notes %}
        {% if section.parent.template.fileSlugStr.trim() %}
        <li><a href="{{ section.parent.url }}">{{ section.parent.template.fileSlugStr | capitalize}}</a></li>
        {% else %}
        <li><a href="{{ section.parent.url }}">Inicio</a></li>
        {% endif %}
            {% if section.children.length > 0 %}
                <ul>
                    {% for subsection in section.children%}
                    <li><a href="{{ subsection.url }}">{{ subsection.data.title }}</a></li>
                    {% endfor%}
                </ul>
            {% endif %}
        {% endfor%}
    </ul>
</nav>